{{> head }}
{{> navbar }}
<h1>hola {{nombre }} </h1>

<div class="col-8">
    <h1>Lo mejor de los dibujos por "Jesus Querales"</h1>

    <p>Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Odit laboriosam voluptatem
         rem nihil, sunt totam illum quaerat maxime 
         omnis quas. Illum a libero reiciendis fuga.
          Veniam voluptate porro eveniet natus.</p>
</div>
<div class="col-4">
    <img src="asects/img/corazones-de-amor-para-dibujar-a-lapiz.jpg" class="img-thumbnail">
</div>

<div class="col-4">
    <img src="asects/img/1f712d166cadfc0e64730372cb412ff0.jpg" class="img-thumbnail">
</div>

{{> footer }}